{% extends 'servisarg/base.html' %}
{% load static %}

{ {% block css_adicionales %}
<link rel="stylesheet" href="{% static 'servisarg\css\acerca.css' %}">
{% endblock %}}


{%block titulo%}Acerca de Nosotros{% endblock %}
{% block encabezado %}
<h1 class="text-center">Modificando a {{ username }} </h1>
{% endblock %}
{% block contenido %} 
<div class="container">
    

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                    {{ form.first_name }}
                    {% if form.first_name.errors %}
                        <div class="text-danger">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                    {{ form.last_name }}
                    {% if form.last_name.errors %}
                        <div class="text-danger">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="text-danger">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento:</label>
                    {{ form.fecha_nacimiento }}
                    {% if form.fecha_nacimiento.errors %}
                        <div class="text-danger">{{ form.fecha_nacimiento.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                    {{ form.descripcion }}
                    {% if form.descripcion.errors %}
                        <div class="text-danger">{{ form.descripcion.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="{{ form.dni.id_for_label }}">DNI:</label>
                    {{ form.dni }}
                    {% if form.dni.errors %}
                        <div class="text-danger">{{ form.dni.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                    {{ form.direccion }}
                    {% if form.direccion.errors %}
                        <div class="text-danger">{{ form.direccion.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                    {{ form.telefono }}
                    {% if form.telefono.errors %}
                        <div class="text-danger">{{ form.telefono.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="text-left" for="{{ form.oficios.id_for_label }}">Oficio:</label>
                    <div class="scroll">
                        {% for oficio in form.oficios.field.choices %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="{{ oficio.0 }}" name="{{ form.oficios.html_name }}" value="{{ oficio.0 }}"
                                    {% if oficio.0 in form.oficios.value %}checked{% endif %}>
                                <label class="form-check-label" for="{{ oficio.0 }}">{{ oficio.1 }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    {% for error in form.oficios.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.foto.id_for_label }}">Foto:</label>
            {{ form.foto }}
            {% if form.foto.errors %}
                <div class="text-danger">{{ form.foto.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    
    <style>
            .scroll { 
    border:2px solid #ccc; 
    width:100%; 
    height: 300px; 
    overflow-y: scroll; 
    max-height: 200px; /* Ajusta según tus necesidades */
    overflow-y: auto;
    border: 1px solid #ced4da; /* Opcional: Agrega un borde al contenedor de desplazamiento */
    padding: 5px; /* Opcional: Ajusta el espacio interno del contenedor de desplazamiento */
    
}
    </style>
</div>
  {% endblock %}