{% extends 'servisarg/base.html' %}
{% load static %}

{ {% block css_adicionales %}
<link rel="stylesheet" href="{% static 'servisarg\css\categorias.css' %}">
{% endblock %}}

{%block titulo%}ServisArg{% endblock %}
{% block encabezado %}
    <h2>Categorias de Oficios </h2>
{% endblock %}

{% block contenido %}
   
    <section class="lista">
        {% for categoria in lista_categorias %}
            <article>
                <p><b>{{categoria.nombre}}</b></p>
            
            </article>
        {% empty%}
            <p>No hay categorias dados de alta</p>
        {% endfor%}
    </section>  
{% endblock %}

        


