{% extends 'servisarg/base.html' %}
{% load static %}

{ {% block css_adicionales %}
<link rel="stylesheet" href="{% static 'servisarg\css\contacto.css' %}">
{% endblock %}}


{%block titulo%}Contacto{% endblock %}

{% block contenido %} 
<div class="container">
    <h1 class="text-center">Consulta, Reclamo o Sugerencia</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}
