{% extends 'servisarg/base.html' %}
{% load static %}

{% block css_adicionales %}
<link rel="stylesheet" href="{% static 'servisarg/css/trabajadores_categoria.css' %}">
{% endblock %}

{% block titulo %}ServisArg{% endblock %}


{% block contenido %}
<div class="container">
  <h1 class="mt-4 text-center">Trabajadores</h1>
  <div class="row">
    {% for trabajador in trabajadores %}
    <div class="col-md-4 mb-4">
        <a href="{% url 'trabajador_detalle' trabajador.id %}" class="trabajador-card">
          <div class="card">
            <div class="foto">
              {% if trabajador.foto %}
                <img src="{{ trabajador.foto.url }}" alt="Foto del Trabajador" class="card-img-top">
              {% else %}
                <img src="{% static 'servisarg/img/default_photo.png' %}" alt="Foto por defecto" height="100px" width="100px">
              {% endif %}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ trabajador.get_full_name }}</h5>
              <p class="card-text">Oficios:</p>
              <ul class="list-unstyled">
                {% for oficio in trabajador.oficios.all %}
                  <li>{{ oficio.nombre }}</li>
                {% empty %}
                  <li>No hay oficios registrados</li>
                {% endfor %}
              </ul>
              <p class="card-text">Área de trabajo: {{ trabajador.direccion }}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">No existen trabajadores</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<style>
  a {
    text-decoration: none;
    /* Elimina el subrayado */
    color: #333;
    /* Cambia el color del texto */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
}

a:hover,
a:focus {
    background-color: #f2f2f2;
    /* Color de fondo al pasar el mouse o enfocar */
}

.trabajador-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.trabajador-card h3 {
    margin-top: 0;
}

.trabajador-card p {
    margin-bottom: 0;
}


</style>