{% extends 'servisarg/base.html' %}
{% load static %}

{ {% block css_adicionales %}
<link rel="stylesheet" href="{% static 'servisarg\css\trabajadores_categoria.css' %}">
{% endblock %}}

{%block titulo%}ServisArg{% endblock %}
{% block encabezado %}
    <h1>Bienvenido a ServisArg</h1>
    <h2>Categorias de Oficios </h2>
{% endblock %}

{% block contenido %}
    <h1>Trabajadores en la categoría {{ categoria.nombre }}</h1>
    <section class="lista">
        {% for trabajador in trabajadores %}
            <article>
                <h3>{{ trabajador.nombre }}</h3>
                <p>Teléfono: {{ trabajador.telefono }}</p>
            </article>
        {% empty%}
            <p>No hay trabajadores dados de alta</p>
        {% endfor%}
    </section>  
{% endblock %}