.article{
    color: red;
}
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
}
article{
    background-color: lightyellow;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    flex: 1
    ;
}
.foto img{
    width: 80%;
    height: 15rem;
    margin:5% 5% 0 10%;

}