{% extends 'servisarg/base.html' %}
{% load static %}

{ {% block css_adicionales %}
<link rel="stylesheet" href="{% static '\servisarg\css\alta_trabajador.css' %}">
{% endblock %}}

1
{%block titulo%}Alta de Oficio {% endblock %}
{% block encabezado %}

    <h1>Alta de Oficio</h1>
{% endblock %}
{% block contenido %} 
    <form action="" method="POST">
        {% csrf_token %}        
        {{form.as_p}}  

        <button type="submit" class="boton">Registrar</button>
        <button type="reset" class="boton">Borrar formulario</button>

    </form>

{% endblock %}
